<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.crudtest.menu.model.dao.MenuMapper">

    <resultMap id="menuResultMap" type="com.ohgiraffers.crudtest.menu.model.dto.MenuDTO">
        <id property="code" column="menu_code"/>
        <result property="name" column="menu_name"/>
        <result property="price" column="menu_price"/>
        <result property="categoryCode" column="category_code"/>
        <result property="orderableStatus" column="orderable_status"/>
    </resultMap>

    <resultMap id="category" type="com.ohgiraffers.crudtest.menu.model.dto.CategoryDTO">
        <id property="code" column="category_code"/>
        <result property="name" column="category_name"/>
        <result property="refCategoryCode" column="ref_category_code"/>
    </resultMap>

    <!-- 전체 조회 -->
    <select id="allMenu" resultMap="menuResultMap">
        SELECT
            *
        FROM
            TBL_MENU
        WHERE
            ORDERABLE_STATUS = 'Y'
    </select>

    <!-- 메뉴코드로 조회 -->
    <select id="oneMenu" resultMap="menuResultMap">
        SELECT
            *
        FROM
            TBL_MENU
        WHERE
            MENU_CODE = #{menuCode}
    </select>

    <select id="findAllCategory" resultMap="category">
        SELECT
            *
        FROM
            TBL_CATEGORY
    </select>

    <insert id="insertMenu" parameterType="com.ohgiraffers.crudtest.menu.model.dto.MenuDTO">
        INSERT INTO TBL_MENU
        (
            menu_name,
            menu_price,
            category_code,
            orderable_status
        )
        VALUES
        (
            #{name},
            #{price},
            #{categoryCode},
            #{orderableStatus}
        )
    </insert>

</mapper>