<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.crud.menu.model.dao.MenuMapper">

    <!-- property 는 DTO 필드명, column 는 컬럼명과 일치해야한다 -->
    <resultMap id="menuResultMap" type="com.ohgiraffers.crud.menu.model.dto.MenuDTO">
        <id property="code" column="menu_code"/>
        <result property="name" column="menu_name"/>
        <result property="price" column="menu_price"/>
        <result property="categoryCode" column="category_code"/>
        <result property="orderableStatus" column="orderable_status"/>
    </resultMap>
    <!-- 경로를 입력하지 않고 Alias 를 사용하려면 해당 클래스에 @Alias("category") 로 지정해주면 된다. -->
    <resultMap id="categoryResultMap" type="com.ohgiraffers.crud.menu.model.dto.CategoryDTO">
        <id property="code" column="category_code"/>
        <result property="name" column="category_name"/>
        <result property="refCategoryCode" column="ref_category_code"/>

    </resultMap>

    <!-- 해당하는 MenuMapper 의 메소드명과 일치해야 함 -->
    <select id="findAllMenus" resultMap="menuResultMap">
        SELECT
            MENU_CODE,
            MENU_NAME,
            MENU_PRICE,
            CATEGORY_CODE,
            ORDERABLE_STATUS
        FROM
            TBL_MENU
        WHERE
            ORDERABLE_STATUS = 'Y'
        ORDER BY
            MENU_CODE
    </select>

    <select id="findAllCategory" resultMap="categoryResultMap">
        SELECT
            *
        FROM
            TBL_CATEGORY
    </select>
                                <!-- 전달인자가 있을 때 parameterType 사용  -->
    <insert id="registNewMenu" parameterType="com.ohgiraffers.crud.menu.model.dto.MenuDTO">
        insert into tbl_menu
        (
            menu_name,
            menu_price,
            category_code,
            orderable_status
        )
        values
        (
            #{name},
            #{price},
            #{categoryCode},
            #{orderableStatus}
        )
    </insert>

    <select id="selectMenuCode" resultMap="menuResultMap">
        SELECT
            MENU_CODE,
            MENU_NAME,
            MENU_PRICE,
            CATEGORY_CODE,
            ORDERABLE_STATUS
        FROM
            TBL_MENU
        WHERE
            MENU_CODE = #{code}
    </select>

    <!-- join 한 resultMap 방법 association(조인 한 DTO 변수명), javaType(조인 한 DTO 경로) -->
    <resultMap id="joinResultMap" type="com.ohgiraffers.crud.menu.model.dto.MenuAndCategoryDTO">
        <id property="code" column="menu_code"/>
        <result property="name" column="menu_name"/>
        <result property="price" column="menu_price"/>
        <result property="orderableStatus" column="orderable_status"/>
        <association property="categoryDTO" javaType="com.ohgiraffers.crud.menu.model.dto.CategoryDTO">
            <id property="code" column="category_code"/>
            <result property="name" column="category_name"/>
            <result property="refCategoryCode" column="ref_category_code"/>
        </association>
    </resultMap>

    <select id="findAllMenuAndCategory" resultMap="joinResultMap">
        SELECT
            A.MENU_CODE,
            A.MENU_NAME,
            A.MENU_PRICE,
            A.ORDERABLE_STATUS,
            B.*
        FROM
            TBL_MENU A
        JOIN
            TBL_CATEGORY B
        ON
            (A.CATEGORY_CODE = B.CATEGORY_CODE)
        WHERE
            A.ORDERABLE_STATUS = 'Y'
    </select>

    <delete id="deleteMenu" parameterType="int">
        DELETE
        FROM
            TBL_MENU
        WHERE
            MENU_CODE in (#{menuCode})
    </delete>
</mapper>